<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sophon.agent.mapper.SophonMcpServerToolDetailMapper">
  <resultMap id="BaseResultMap" type="com.sophon.agent.model.SophonMcpServerToolDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="qualified_name" jdbcType="VARCHAR" property="qualifiedName" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="server_qualified_name" jdbcType="VARCHAR" property="serverQualifiedName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="input_schema" jdbcType="VARCHAR" property="inputSchema" />
    <result column="proxy_type" jdbcType="VARCHAR" property="proxyType" />
    <result column="request_method" jdbcType="VARCHAR" property="requestMethod" />
    <result column="request_url" jdbcType="VARCHAR" property="requestUrl" />
    <result column="request_headers" jdbcType="VARCHAR" property="requestHeaders" />
    <result column="request_json" jdbcType="VARCHAR" property="requestJson" />
    <result column="response_json" jdbcType="VARCHAR" property="responseJson" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="modify_time" jdbcType="VARCHAR" property="modifyTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, qualified_name, display_name, server_qualified_name, description, input_schema, 
    proxy_type, request_method, request_url, request_headers, request_json, response_json, 
    status, create_time, modify_time, create_user, modify_user
  </sql>
  <select id="selectByExample" parameterType="com.sophon.agent.model.SophonMcpServerToolDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from sophon_mcp_server_tool_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sophon_mcp_server_tool_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sophon_mcp_server_tool_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sophon.agent.model.SophonMcpServerToolDetailExample">
    delete from sophon_mcp_server_tool_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sophon.agent.model.SophonMcpServerToolDetail" useGeneratedKeys="true">
    insert into sophon_mcp_server_tool_detail (qualified_name, display_name, server_qualified_name, 
      description, input_schema, proxy_type, 
      request_method, request_url, request_headers, 
      request_json, response_json, status, 
      create_time, modify_time, create_user, 
      modify_user)
    values (#{qualifiedName,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{serverQualifiedName,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{inputSchema,jdbcType=VARCHAR}, #{proxyType,jdbcType=VARCHAR}, 
      #{requestMethod,jdbcType=VARCHAR}, #{requestUrl,jdbcType=VARCHAR}, #{requestHeaders,jdbcType=VARCHAR}, 
      #{requestJson,jdbcType=VARCHAR}, #{responseJson,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{modifyTime,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{modifyUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sophon.agent.model.SophonMcpServerToolDetail" useGeneratedKeys="true">
    insert into sophon_mcp_server_tool_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="qualifiedName != null">
        qualified_name,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="serverQualifiedName != null">
        server_qualified_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="inputSchema != null">
        input_schema,
      </if>
      <if test="proxyType != null">
        proxy_type,
      </if>
      <if test="requestMethod != null">
        request_method,
      </if>
      <if test="requestUrl != null">
        request_url,
      </if>
      <if test="requestHeaders != null">
        request_headers,
      </if>
      <if test="requestJson != null">
        request_json,
      </if>
      <if test="responseJson != null">
        response_json,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="qualifiedName != null">
        #{qualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="serverQualifiedName != null">
        #{serverQualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="inputSchema != null">
        #{inputSchema,jdbcType=VARCHAR},
      </if>
      <if test="proxyType != null">
        #{proxyType,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null">
        #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="requestHeaders != null">
        #{requestHeaders,jdbcType=VARCHAR},
      </if>
      <if test="requestJson != null">
        #{requestJson,jdbcType=VARCHAR},
      </if>
      <if test="responseJson != null">
        #{responseJson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sophon.agent.model.SophonMcpServerToolDetailExample" resultType="java.lang.Long">
    select count(*) from sophon_mcp_server_tool_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sophon_mcp_server_tool_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.qualifiedName != null">
        qualified_name = #{record.qualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="record.displayName != null">
        display_name = #{record.displayName,jdbcType=VARCHAR},
      </if>
      <if test="record.serverQualifiedName != null">
        server_qualified_name = #{record.serverQualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.inputSchema != null">
        input_schema = #{record.inputSchema,jdbcType=VARCHAR},
      </if>
      <if test="record.proxyType != null">
        proxy_type = #{record.proxyType,jdbcType=VARCHAR},
      </if>
      <if test="record.requestMethod != null">
        request_method = #{record.requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="record.requestUrl != null">
        request_url = #{record.requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.requestHeaders != null">
        request_headers = #{record.requestHeaders,jdbcType=VARCHAR},
      </if>
      <if test="record.requestJson != null">
        request_json = #{record.requestJson,jdbcType=VARCHAR},
      </if>
      <if test="record.responseJson != null">
        response_json = #{record.responseJson,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyUser != null">
        modify_user = #{record.modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sophon_mcp_server_tool_detail
    set id = #{record.id,jdbcType=INTEGER},
      qualified_name = #{record.qualifiedName,jdbcType=VARCHAR},
      display_name = #{record.displayName,jdbcType=VARCHAR},
      server_qualified_name = #{record.serverQualifiedName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      input_schema = #{record.inputSchema,jdbcType=VARCHAR},
      proxy_type = #{record.proxyType,jdbcType=VARCHAR},
      request_method = #{record.requestMethod,jdbcType=VARCHAR},
      request_url = #{record.requestUrl,jdbcType=VARCHAR},
      request_headers = #{record.requestHeaders,jdbcType=VARCHAR},
      request_json = #{record.requestJson,jdbcType=VARCHAR},
      response_json = #{record.responseJson,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=VARCHAR},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      modify_user = #{record.modifyUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sophon.agent.model.SophonMcpServerToolDetail">
    update sophon_mcp_server_tool_detail
    <set>
      <if test="qualifiedName != null">
        qualified_name = #{qualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="serverQualifiedName != null">
        server_qualified_name = #{serverQualifiedName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="inputSchema != null">
        input_schema = #{inputSchema,jdbcType=VARCHAR},
      </if>
      <if test="proxyType != null">
        proxy_type = #{proxyType,jdbcType=VARCHAR},
      </if>
      <if test="requestMethod != null">
        request_method = #{requestMethod,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null">
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="requestHeaders != null">
        request_headers = #{requestHeaders,jdbcType=VARCHAR},
      </if>
      <if test="requestJson != null">
        request_json = #{requestJson,jdbcType=VARCHAR},
      </if>
      <if test="responseJson != null">
        response_json = #{responseJson,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sophon.agent.model.SophonMcpServerToolDetail">
    update sophon_mcp_server_tool_detail
    set qualified_name = #{qualifiedName,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      server_qualified_name = #{serverQualifiedName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      input_schema = #{inputSchema,jdbcType=VARCHAR},
      proxy_type = #{proxyType,jdbcType=VARCHAR},
      request_method = #{requestMethod,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      request_headers = #{requestHeaders,jdbcType=VARCHAR},
      request_json = #{requestJson,jdbcType=VARCHAR},
      response_json = #{responseJson,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      modify_user = #{modifyUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>